<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Catálogo de productos</title>
        <!-- Enlazar con el archivo de estilos de Tailwind -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>

        <%- include('includes/navbar'); %>

        <main class="container mx-auto my-8">
            <h2 class="text-2xl font-bold mb-4">Productos destacados</h2>
            <%if(inmuebles.length > 0){%>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <%inmuebles.forEach(inmueble=>{%>
                        <%if(inmueble.idCategoria == 1){%>
                            <%- include('cardsHomepage/casa', {data: inmueble}); %>
                        <%}%>
                        <%if(inmueble.idCategoria == 2){%>
                            <%- include('cardsHomepage/departamento', {data: inmueble}); %>
                        <%}%>
                        <%if(inmueble.idCategoria == 3){%>
                            <%- include('cardsHomepage/terreno', {data: inmueble}); %>
                        <%}%>
                    <%})%>
                </div>
            <%}else{%>
                <p class="text-center text-lg font-bold">No hay ningún inmueble por el momento</p>
            <%}%>
        </main>

        <%- include('includes/footer'); %>

    </body>

</html>