<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Catálogo de productos</title>
        <!-- Enlazar con el archivo de estilos de Tailwind -->
        <link href="//cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body class="content-center">
      <!-- Incluir navbar -->
      <%- include('includes/navbar'); %>
      <h1 class="text-2xl font-bold mb-4">Catalogo de productos</h2>
      <main class="container mx-auto my-8">
        <!-- Desplegar elementos del catalogo -->
        <%if(inmuebles.length > 0){%>
          <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
              <%inmuebles.forEach(inmueble=>{%>
                <%- include('cardsSearchPage/genericCard', {data: inmueble}); %>
              <%})%>
          </div>
        <%}else{%>
          <p class="text-center text-lg font-bold">No hay ningún inmueble por el momento</p>
        <%}%>
      </main>

      <div class="break"></div>
      <!--Display the links to the pages-->
      <% if(page > 1) { %> <a href="buscar?page=<%=page-1%>">Before</a> <% } %>
      <% for(let i = iterator; i <= endingLink; i++) { %>
        <% if(i === page) { %>
          <a class="selectedLink" href="buscar?page=<%=i%>"><%=i%></a>
          <% continue; %>
          <% } %>
          <a href="buscar?page=<%=i%>"><%=i%></a>
      <% } %>
      <% if(page < numOfPages) { %> <a href="buscar?page=<%=page+1%>">After</a> <% } %>

      <!--Incluir footer -->
      <%- include('includes/footer'); %>

    </body>

</html>